@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

* {
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  list-style: none;
  /* text-decoration: none; */
  font-family: var(--Poppins-font);
}

:root {
  --prim-color: #ff823a;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;

  --bricolage-font: "Bricolage Grotesque", sans-serif;
  --Poppins-font: "Poppins", sans-serif;

  --transition-fast: 0.1s;
  --transition-regular: 0.3s;
  --transition-slow: 0.6s;

  --bg-opacity: 0.8;
}

html,
body {
  overflow-x: hidden;
}

.font-bricolage {
  font-family: var(--bricolage-font);
}

/* Nav */
.nav-link::after,
.nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--black-color);
  border-radius: 5px;
  transition: 0.3s;
}

.nav-link::after {
  top: 0;
  left: 0;
  width: 0;
}

.nav-link::before {
  right: 0;
  width: 0;
  bottom: 0;
}

.nav-link:hover::after,
.nav-link:hover::before {
  width: 100%;
}

/* Hero Section */
.hero {
  margin-top: 70px;
}

.hero-wrap {
  height: 90vh;
  background-image: url(assets/Hero-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  animation: anim-zoomout var(--transition-regular) forwards linear;
}

.hero-wrap2 {
  background-image: url(assets/Hero-2.png) !important;
}

.hero-content {
  width: 50%;
}

.hero-content h5 {
  color: var(--black-color);
  margin: 0;
  opacity: 0;
  font-family: var(--bricolage-font);
  animation: anim-top 0.6s 1.2s forwards linear;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: var(--bricolage-font);
  animation: anim-top 0.6s 0.9s forwards linear;
}

.hero-content h1 span {
  font-family: var(--bricolage-font);
}

.hero-content p {
  font-size: 1.1rem;
  width: 90%;
  color: var(--text-color);
  opacity: 0;
  margin-bottom: 2rem;
  animation: anim-top 0.6s 0.9s forwards linear;
}

.btn {
  color: var(--white-color);
  background-color: var(--black-color);
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--prim-color);
}

.btn-outline-primary {
  color: var(--black-color);
  border: solid 1px var(--black-color);
}

.btn-outline-primary:hover {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Product */
.product-item {
  cursor: pointer;
}

.product-item:hover .product-icons .product-icon:nth-child(1) {
  transform: translateY(0);
  transition-duration: 0.2s;
}

.product-item:hover .product-icons .product-icon:nth-child(2) {
  transform: translateY(0);
  transition-duration: 0.5s;
}

.product-item:hover .product-icons .product-icon:nth-child(3) {
  transform: translateY(0);
  transition-duration: 0.8s;
}

.product-image {
  width: 100%;
  cursor: pointer;
}

.product-image img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition-slow);
}

.product-item:hover .product-image img:nth-child(2) {
  opacity: 1;
}

.product-content {
  position: relative;
}

.fev-product-content::after {
  font-size: 2.5rem;
}

.product-content h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #424242;
  font-family: var(--bricolage-font);
}

.product-content span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--bricolage-font);
}

.product-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 2;
}

.product-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 50%;
  transition: var(--transition-fast);
  transform: translateY(70px);
}

.product-icon:hover {
  color: var(--white-color);
  background-color: var(--prim-color);
}

.product-image .tag {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 700;
}

/* Seen In */

.seen-in {
  background-color: var(--section-color);
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Favorite Product */

.favorite-beauty-banner {
  overflow: hidden;
  position: relative;
}

.favorite-beauty::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.favorite-beauty-banner img {
  transition: var(--transition-slow);
}

.favorite-beauty-banner:hover img {
  transform: scale(1.1);
}

.favorite-beauty-banner-title {
  position: absolute;
  bottom: 0;
  padding: 50px;
  color: var(--white-color);
}

.banner-section {
  height: 60vh;
  background: url("./assets/section-banner.jpg") no-repeat center center/cover;
}

@keyframes anim-top {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes anim-zoomout {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1199px) {
  .hero-content h1 {
    font-size: 3.3rem;
  }
  .hero-content h5,
  .hero-content p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-content {
    width: 60%;
  }
  .hero-content h1 {
    font-size: 2.8rem;
  }
  .hero-content h5,
  .hero-content p {
    font-size: 0.8rem;
  }
  .product-content span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    width: 90%;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .product-content span {
    font-size: 3rem;
  }
}

@media screen and (max-width: 575px) {
  .seen-in {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .favorite-beauty-banner {
    height: 700px;
  }
}
